
body {
    background-color:#F0F0F0;
    padding: 2em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
}

.aboutBody {
    background-color:rgb(15, 64, 155);
}
.container {
    width: 50%;
    margin: 0 auto;
}
label {
    display:block;
    margin-bottom:10px;
}
input {
    padding:10px;
    width: 50%;
    margin-bottom: 1em;
}
button {
    margin: 2em 0;
    padding: 1em 4em;
    display:block;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

#instructor {
    padding:1em;
    background-color:#fff;
    margin: 1em 0;
}

.about-section_1{
    background-image: url("images/freedom.jpg");
}

.about_heading {
    font-weight: bold
}


  
